<script type="text/javascript">
var jdRetry = 0;
var retry =0,page = 1,pagesize = 20,load = 1,channel = '<%= @channel %>',sort = 0,is_simple = true, is_tmall = 0, has_coupon = 1, sort_type='',is_t = false, is_h = false, is_q = false, keyword = '<%= @jd_item["name"] %>', platform = '1', jd_sort = "inOrderCount30Days", jd_is_hot = 0, pdd_sort = 0, pdd_activity = '', cid3 = '<%= @jd_item["filter_code"]%>';
function createList_jd(cl){
  var obj = $('#dazheList');
  var htmlstr = '';
  for(var i=0,len=cl.length;i<len;i++){
    var z = cl[i];
    var buy_url = 'http://www.uuhaodian.com/jd/buy/' + z.item_id + '/';
    if(z.coupon_url != ''){
      buy_url += '?coupon=' + encodeURIComponent(z.coupon_url);
    }
    htmlstr += '<div class="item">';
    htmlstr += '<a class = "zh" href="'+ buy_url +'" target="_blank" onclick="_hmt.push([\'_trackEvent\', \'京东商品jump\', \'click\', \'dazhe_jd\'])">';
    htmlstr += '<img class="pic" src="'+ z.pict_url +'"/>';
    htmlstr += '<div class="cent">';
    htmlstr += '<h3>';
    htmlstr += '<span>京东</span>';
    htmlstr += z.title;
    htmlstr += '</h3>';
    htmlstr += '<div class="tags">';
    if(z.shop_title.indexOf('旗舰店') > 0){
      htmlstr += '<span class="tag">旗舰店</span>';
    }
    if(z.owner == 'g'){
      htmlstr += '<span class="tag">自营</span>';
    }
    if(z.is_hot == 1){
      htmlstr += '<span class="tag">爆款</span>';
    }
    htmlstr += '&nbsp;</div>';
    htmlstr += '<div class="num">';
    if(z.coupon_amount > 0 && z.price_type == 2){
      htmlstr += '<span>拼购价 ￥'+ z.lowest_price + '</span>';
    }
    else if(z.coupon_amount > 0 && z.price_type == 3){
      htmlstr += '<span>秒杀价 ￥'+ z.lowest_price + '</span>';
    }
    else{
      htmlstr += '<span>原价 ￥'+ z.o_price + '</span>';
    }
    if(z.sales > 0){
      var vv = z.sales > 10000 ? ((z.sales / 10000.0).toFixed(1) + '万') : z.sales;
      htmlstr += '<span class="r">已售'+ vv + '件</span>';
    }
    htmlstr += '</div>';
    if(z.coupon_amount > 0){
      htmlstr += '<div class="money"><div class="quan"><i>' + parseInt(z.coupon_amount) + '元券</i></div>';
    }
    else if(z.price_type == 2){
      htmlstr += '<div class="money"><div class="quan"><i>拼购</i></div>';
    }
    else if(z.price_type == 3){
      htmlstr += '<div class="money"><div class="quan"><i>秒杀</i></div>';
    }
    else{
      htmlstr += '<div class="money"><div class="quan"><i>看一看</i></div>';
    }
    htmlstr += '到手价 ￥'
    htmlstr += '<span class="m">' + z.lowest_coupon_price + '</span></div>'
    htmlstr += '</div></a></div>';
  }
  htmlstr = $(htmlstr);
  obj.append(htmlstr);
}
function createCp(cl){
  var obj = $('#jdDazheList');
  var htmlstr = '';
  for(var i=0,len=cl.length;i<len;i++){
    var z = cl[i];
    var buy_url = "/jd/buy/" + z.product_id + '/?coupon=' + encodeURIComponent(z.coupon_url);
    htmlstr += '<div class="item">';
    htmlstr += '<a class = "zh" href="'+ buy_url +'" target="_blank" onclick="_hmt.push([\'_trackEvent\', \'京东券jump\', \'click\', \'dazhe_jd\'])">';
    htmlstr += '<img class="pic" src="'+ z.pic_url +'" alt="'+z.mall_name +'"/>';
    htmlstr += '<div class="cent">';
    htmlstr += '<h3 style="height:20px;font-weight:bold;">';
    htmlstr += z.mall_name;
    htmlstr += '</h3>';
    htmlstr += '<div class="jd-logo"><img src="/img/jd_logo.png"/></div>';
    htmlstr += '<div class="num" style="margin-top:0;">';
    var nn = z.num > 10000 ? (z.num / 10000) + '万' : z.num
    htmlstr += '<span>共'+ nn + '张券</span>';
    var rn = (z.num - z.remain) > 10000 ? parseInt((z.num - z.remain) / 10000) + '万' : (z.num - z.remain);
    if(z.num - z.remain > 0){
      htmlstr += '<span class="r">'+ rn + '人已领券</span>';
    }
    else{
      htmlstr += '<span class="r">新券速抢</span>';
    }
    htmlstr += '</div>';
    htmlstr += '<div class="money"><div class="quan"><i>' + z.discount + '元券</i></div>';
    htmlstr += '满' + z.quota +'元可用</div>';
    htmlstr += '</div></a></div>';
  }
  htmlstr = $(htmlstr);
  obj.append(htmlstr);
}

var callback1 = function(data){
  load = 1;
  page ++;
  if(data.status == 200){
    createList_jd(data.results);
    $("#imgLoading").addClass("sno");
    if(data.results.length < pagesize){
      $("#loadRetry").addClass("sno");
      $("#noMore").removeClass("sno");
      load = 0;
    }
    else{
      $("#loadRetry").addClass("sno");
      $("#noMore").addClass("sno");
    }
  }
  else{
    $("#loadRetry").removeClass("sno");
    $("#imgLoading").addClass("sno");
    $("#noMore").addClass("sno");
  }
};
var callback_jdcoupon = function(data){
  if(data.status == 1){
    var cp_list = [];
    var cp_index = [];
    if(data.result.length <= 10){
      cp_list = data.result;
    }
    else{
      while(cp_index.length < 10){
        var rnd = Math.floor((Math.random() * (data.result.length - 1)));
        if(!cp_index.includes(rnd)){
          cp_index.push(rnd);
          cp_list.push(data.result[rnd])
        }
      }
    }
    createCp(cp_list);
  }
};
function getDazheCouponList(){
  if(!load){
    return;
  }
  $("#imgLoading").removeClass("sno");
  $("#loadRetry").addClass("sno");
  $("#noMore").addClass("sno");
  doJingdong();
}
function doJingdong(){
  var dd = {
    page: page,
    keyword: keyword,
    has_coupon: 1,
    sort_name: jd_sort,
    callback: 'callback1'
  }
  if(cid3 != ''){
    dd.cid3 = cid3
  }
  $.ajax({
    url: "https://api.uuhaodian.com/jduu/search_by_keyword",
    type: 'GET',
    dataType: 'jsonp',
    data: dd,
    jsonp: 'callback1',
    jsonpCallback: 'callback1',
    beforeSend:function(){
      load = 0;
    },
    success:function(data){
    },
    error: function(data){
      if(!retry){
        retry = 1;
        load = 1;
        getDazheCouponList();
      }
      else{
        $("#loadRetry").removeClass("sno");
        $("#imgLoading").addClass("sno");
        $("#noMore").addClass("sno");
      }
    }
  });
}
function getJdCouponList(){
  var dd = {
    page: 0,
    id: '<%= @jd_item_id %>',
    callback: 'callback_jdcoupon'
  }
  $.ajax({
    url: "https://api.uuhaodian.com/jduu/jd_home_coupons",
    type: 'GET',
    dataType: 'jsonp',
    data: dd,
    success:function(data){
    },
    error: function(data){
      if(!jdRetry){
        jdRtry = 1;
        //getJdCouponList();
      }
    }
  });
}

$(function(){
  $.cookie('ff_platform', 2, {path:"/"});
  getJdCouponList();
  getDazheCouponList();
  $(document).scroll(function(){
    tp = document.body.scrollTop || document.documentElement.scrollTop;
    if(tp > 236){
      $('.scroll_top').removeClass('close');
      $('.scroll_top').addClass('open');
      $('.top-menu').addClass('fixed');
    }
    else{
      $('.scroll_top').removeClass('open');
      $('.scroll_top').addClass('close');
      $('.top-menu').removeClass('fixed');
    }
    if(tp >= (document.body.scrollHeight - 800)){
      _hmt.push(['_trackEvent', '加载更多', 'click', 'dazhe_jd']);
      //getJdCouponList();
      getDazheCouponList();
    }
    $(".scroll_top>a").click(function(){window.scrollTo(0, 2);});
  });
});
</script>
