%a{href: "https://s.click.taobao.com/PNdbYuu", target: "_blank"}
  %img{src: "https://img.alicdn.com/imgextra/i2/2053469401/O1CN015ZuqoW2JJi2ztaGuN_!!2053469401.gif", style: "width: 100%;"}
%a{href: "/jddiybuy/?jd_channel=15&url=#{URI.encode_www_form_component("https://u.jd.com/tZpbeFk")}", target: "_blank"}
  %img{src: "/jd_1111_mobile.jpg", style: "width: 100%;margin-top: 1px;"}
