.order-area{style: "width:100%;"}
  %ul.sort-type{style: "width: 100%;"}
    %li{id: "li-sort-1", data: {sort: "1"}, class: "sort_li active"} 综合
    %li{id: "li-sort-2", data: {sort: "2"}, class: "sort_li"} 销量
    %li{id: "li-sort-5", data: {sort: "5"}, class: "sort_li"} 推荐
    %li{id: "li-sort-3", data: {sort: "3"}, class: "sort_li"} 价格

    - if has_coupon
      %li.active#li-q{data: {q: "1"}}
        %input.switch#li-q-switch{type: "checkbox", style: "font-size: 20px;margin-top:10px;", checked: ""} 
        %label{for: "li-q-switch", style: "float:left;line-height:40px;height:40px;padding-right:5px;"} 只看券
    - else
      %li#li-q{data: {q: "1"}}
        %input.switch#li-q-switch{type: "checkbox", style: "font-size: 20px;margin-top:10px;"} 
        %label{for: "li-q-switch", style: "float:left;line-height:40px;height:40px;padding-right:5px;"} 只看券


    %span{style: "float:right;line-height:40px;color:#999;font-size:12px;padding-right:20px;"} 京东找券-直接搜商品链接
