.order-area{style: "width:100%;"}
  %ul.sort-type{style: "width: 100%;"}
    %li{id: "li-sort-1", data: {sort: "1"}, class: "sort_li active"} 综合
    %li{id: "li-sort-2", data: {sort: "2"}, class: "sort_li"} 销量
    %li{id: "li-sort-5", data: {sort: "5"}, class: "sort_li"} 推荐
    %li{id: "li-sort-3", data: {sort: "3"}, class: "sort_li"} 价格

    %li.filter_li{id: "li-q", style: "float:right;", data: {q: "1"}} ✓ 只看券
