.jd-mengceng
  .jd-mengceng-bottom
  %a{href: "#{url}"}
    .jd-mengceng-up
      .center-area
        %img{src: "#{img}", style: "width: 100px;padding:20px 100px 0 100px;margin-bottom:60px;"}
        %p.text-area #{text}
        %p.close#jd_mengceng_close 关闭
