.item-list-top#fluid
  %span.left 常用分类
  %a{href: "/top/#tab_area"} 
    %span.right 全部
.guide-2
  - @cates.each do |cate|
    - is_active = cate['cid'].to_i == @cid ? 'active' : ''
    .item
      %a{href: "/top/?cid=#{cate["cid"]}#tab_area", class: "#{is_active}"}
        %img{src: "#{cate["img_url"]}"}
        %p #{cate["name"]}
