%footer.footer
  .footer-top
    .wrapper
      .yl
        %p.head 友情链接：
        .yl-links
          %a{href: "https://www.iquan.net", target: "_blank"} 淘宝优惠券
          %a{href: "http://www.shikuaigou.com", target: "_blank"} 粉丝福利购
          %a{href: "http://www.xiongmao123.com", target: "_blank"} 熊猫优选
          %a{href: "http://www.gouwuzhinan.cn", target: "_blank"} 购物指南
          %a{href: "http://www.jidanguo.top", target: "_blank"} 百香果
          %a{href: "/dtk/2/"} 【无穷旗舰店】烤鸡腿360g整箱
          %a{href: "/dtk/10/"} 【拍3件】屈臣氏Missface眼霜3瓶
          %a{href: "/dtk/100/"} 【百人验货】秋季潮流哈伦裤
          %a{href: "/core_2_4/"} 荣耀手机京东优惠券
          %a{href: "/core_2_25/"} 华为路由器京东优惠券
          %a{href: "/core_2_57/"} 冰菊套装京东优惠券
          %a{href: "/core_2_168/"} 三星耳机京东优惠券
          %br
          %a 友链申请 请联系QQ: 174786080
          %br
          %a{href: "/about.html", rel: "nofollow"} 关于我们
      .logo-slogan
        .qr-code
          %img{src: "/img/uuhaodian_logo_90.png"}
        .txt
          %p.s1 微信公众号小程序
          %p.s2 现已支持淘宝京东拼多多
  .footer-bottom
    .wrapper
      %p 
        © CopyRight 2020 优优好店  http://www.uuhaodian.com   
        %a{href: "http://www.beian.miit.gov.cn", target: "_blank", style:"color:#ff6a00;", rel: "nofollow"}京ICP备18009981号-1 
        %a{href: "/about.html", rel: "nofollow"}关于我们
        ：北京弗格朗瑞科技有限公司 联系我们：010-86202725
