%footer.footer
  .footer-top
    .wrapper
      .yl
        %p.head 友情链接：
        .yl-links
          %a{href: "/map/keyword/k1.html", target: "_blank"} 优优好货导航
          %a{href: "/map/shop/s1.html", target: "_blank"} 优优店铺导航
          %a{href: "https://www.iquan.net", target: "_blank"} 淘宝优惠券
          %a{href: "http://www.shikuaigou.com", target: "_blank"} 粉丝福利购
          %a{href: "http://www.xiongmao123.com", target: "_blank"} 熊猫优选
          %a{href: "http://www.gouwuzhinan.cn", target: "_blank"} 购物指南
          %a{href: "http://www.jidanguo.top", target: "_blank"} 百香果
          %a{href: "http://www.17430.com.cn", target: "_blank"} 17430优惠券
          %br
          %a 友链申请 请联系QQ: 174786080
          %br
          %a{href: "/about.html"} 关于我们
      .logo-slogan
        .qr-code
          %img{src: "/img/uuhaodian_logo_90.png"}
        .txt
          %p.s1 商家活动报名
          %p.s2 请关注公众号并留言
  .footer-bottom
    .wrapper
      %p 
        © CopyRight 2018   优优好店  http://www.uuhaodian.com   京ICP备18009981号-1 
        %a{href: "/about.html"}关于我们
        ：北京弗格朗瑞科技有限公司 联系我们：010-86202725
