%footer.footer
  .footer-top
    .wrapper
      .yl
        %p.head 友情链接：
        .yl-links
          - if mobile_path != ""
            %a{href: "#{mobile_path}", target: "_blank"} 移动页
          %a{href: "/core_2_4/"} 荣耀手机京东优惠券
          %a{href: "/core_2_25/"} 华为路由器京东优惠券
          %a{href: "/core_2_57/"} 冰菊套装京东优惠券
          %a{href: "/core_2_168/"} 三星耳机京东优惠券
          %a{href: "/jshop_1000004259.html"} 华为京东自营官方旗舰店
          %br
          %a 友链申请 请联系QQ: 174786080
          %br
          %a{href: "/about.html", rel: "nofollow"} 关于我们
      .logo-slogan
        .qr-code
          %img.lazy.new{data: {original: "/img/uuhaodian_logo_90.png"}}
        .txt
          %p.s1 微信公众号小程序
          %p.s2 现已支持淘宝京东拼多多
  .footer-bottom
    .wrapper
      %p 
        © CopyRight 2021 优优好店  http://www.uuhaodian.com  
        %a{href: "https://beian.miit.gov.cn", target: "_blank", style:"color:#ff6a00;", rel: "nofollow"}京ICP备18009981号-1 
        %a{href: "/about.html", rel: "nofollow"}关于我们
        ：北京弗格朗瑞科技有限公司 联系我们：010-86202725
