.home-oper-area.wrapper1200
  .cate-area
    %a.cate-item.with-line{href: "/category/1321/"}
      .inner
        %i.cate-icon.ci-nvzhuang
        女装
    %a.cate-item{href: "/category/1327/"}
      .inner
        %i.cate-icon.ci-nanzhuang
        男装
    %a.cate-item.with-line{href: "/category/1325/"}
      .inner
        %i.cate-icon.ci-xiezi
        鞋包
    %a.cate-item{href: "/category/1324/"}
      .inner
        %i.cate-icon.ci-meizhuang
        美妆
    %a.cate-item.with-line{href: "/category/1323/"}
      .inner
        %i.cate-icon.ci-shenghuo
        百货
    %a.cate-item{href: "/category/1322/"}
      .inner
        %i.cate-icon.ci-meishi
        美食
    %a.cate-item.with-line{href: "/category/1326/"}
      .inner
        %i.cate-icon.ci-neiyi
        内衣
    %a.cate-item{href: "/category/1328/"}
      .inner
        %i.cate-icon.ci-muying
        母婴
    %a.cate-item.with-line{href: "/category/1330/"}
      .inner
        %i.cate-icon.ci-peishi
        配饰
    %a.cate-item{href: "http://uuhaodian.com/index.php?r=activity/achalf&u=550416", target: "_blank"}
      .inner
        %i.cate-icon.ci-chengren
        半价
    %a.cate-item.with-line.last{href: "/category/1329/"}
      .inner
        %i.cate-icon.ci-shuma
        手机
    %a.cate-item.last{href: "http://uuhaodian.com/index.php?r=l&cid=7&u=550416", target: "_blank"}
      .inner
        %i.cate-icon.ci-jujia
        文娱
  .banner-top
    .banner-area.swiper-container.swiper-container-horizontal
      .swiper-wrapper
        - if @banners && @banners.size > 0
          - @banners.each do |b|
            %a.swiper-slide{href: "#{b["link_url"]}", target: "_blank", onclick: "ga_event(this);", data:{ga: "大banner:首页:首页_大banner"}}
              %img.lazy.new{data: {original: "#{b["img_url"]}"}}
      .swiper-bottom
        .swiper-pager
    .top-right-banner
      %img{src: "/img/lbanner1.png", width: "180px", style: "padding: 5px 30px;"}
      %p 
        关注"UU好店"公众号
        %br
        查券-淘宝/京东/拼多多
