.header-bar
  .wrapper
    %p.coll-desc
      请按键盘
      %strong{style: "color: #FF472B;font-size:15px;"} Ctrl + D
      把优优好店加入收藏夹，天猫淘宝优惠券、京东优惠券、拼多多优惠券，一键查询，免费领取！
      %span#logined{style: "display: none"}
        %a.login{href: "/like/", title: "我的收藏"}
          %img#headimgurl{src: "/img/wchat_icon.png"}
          %span#nickname 微信登录
        %span.sp &brvbar;
        %a#user_logout.logout{href: "javascript:;"}
          登出
