.header-top
  .wrapper
    %a.logo-area{href: "/", title: "优优好店"}
      %img{src: "/img/pc_logo.jpg", alt: "优优好店logo图片"}
    .search-area
      .input-area
        %i
        %input.search-input.unfocus#search_input{type: "text", placeholder: "粘贴宝贝标题或输入关键词，天猫淘宝京东拼多多都能搜！", value: "#{@keyword && @keyword != '' ? @keyword: ''}"}
      %a.search-btn{href: "javascript:;"} 找券
      .suggest-area.sno
        .suggest-list
          #suggest_list_items
          %p.suggest-close#suggest_close 关闭
      .keywords-area
        - if @top_keywords && @top_keywords.size > 0
          - @top_keywords.each do |k|
            %a{href: "/query/#{URI.encode(k)}/"} #{k}
    .download-area
      %a{href: "http://uuhaodian.com/index.php?r=app/download&u=550416", target: "_blank", title: "优优好店APP下载"}
        %img{src: "/img/app_download.png", alt: "优优好店优惠券app下载图片"}
