.wrapper1200{style: "display: -webkit-flex;display: flex;flex-direction: row;flex-wrap:wrap;justify-content:space-between;margin-bottom: 20px;"}
  .rel-zk-area{style: "width: 100%;"}
    %p.head
      %span 京东优惠券常见问题与解决方法
  .qa-area
    %p.question 问：京东优惠券如何领取？
    %p.answer
      答：在2020年应该这样领京东优惠券，首先，京东是有官方领券平台的，会实时更新官方新放出的优惠券（有每日神券，99元减88的那种），可以免费直接领或者是使用京豆兑换，点击本网站顶端的“京东优惠券”即可获得领券平台入口。
      %br
      如果想领取某个具体商品的优惠券，可以在本网站直接搜索商品标题或者链接，就可以找到对应的优惠券了。
      %br
      在微信、QQ、百度、头条等App里面，也可以通过"优优好店"小程序来领取京东优惠券，超级方便的。
      %br
      想获得来自京东的购物返利呢，点击网站顶端的"下载App"，下载邻家小惠并输入邀请码"UUDIAN"，买东西就有返利啦！

  .qa-area
    %p.question 问：京东新人礼包188详细？
    %p.answer
      答：限京东新用户领取1次，里面包含一些无门槛优惠券，及全品类的满减券，还是挺实惠的。新用户不要错过这个礼包呦！
      %br
      188元大礼包，包含6元支付无门槛券，满300-30元家电券，满150-12、100-15、200-15、350-25、500-35元全品类券，满59-10、199-40元服饰专享券
      %br
      新人礼包仅限从未在京东下单的新用户领取，每个用户仅限领取1次；

  .qa-area
    %p.question 问：京东领券的软件叫什么？京东优惠券app哪个好？
    %p.answer
      答：领取京东优惠券当然来"优优好店"啦！不光是京东优惠券，这里淘宝天猫优惠券、拼多多优惠券都能领！而且支持多个平台的小程序，比如微信、QQ、百度、头条，领券，用"优优好店"准没错！
      %br
      想购物+领券+分享赚钱呢？点击上方的"下载APP"，就能下载到最新版本的App啦，记得输入邀请码"UUDIAN"，一个月赚一台IPhone没问题！

  .qa-area
    %p.question 问：京东全品券怎么领取？京东App领神券技巧？
    %p.answer
      答：京东的全品券和神券，都是官方不定期放出的，首先出现的平台是在京东官方的券集市，每天看一下，总会有惊喜！入口在哪呢？点击本站顶端"京东优惠券"就可以进入啦！
      %br
      想要不错过神券？可以关注我们的微信公众号，也可以使用我们各个平台的小程序，省钱，从优优好店开始！

  .qa-area
    %p.question 问：京东内部优惠券和隐藏优惠券都是什么意思？
    %p.answer
      答：不要相信现在网络上说的内部优惠券和隐藏优惠券，优惠券都是商家为了促销和回馈用户大大方方发放出来的，哪有什么所谓的内部券和隐藏券。
      %br
      直接搜索商品标题或者链接，有优惠券就是有优惠活动，没有则无，还没到双十一，当下的购物规则还是相对简单的，哈哈哈！

  .qa-area
    %p.question 问：京东优惠券查询与代理方法？
    %p.answer
      答：代理京东优惠券发放也可以赚钱啦！按照如下步骤操作：
      %br
      点击本站上方"下载APP"，扫码下载相应App
      %br
      进入App并输入邀请码"UUDIAN"
      %br
      注册并授权淘宝、京东、拼多多
      %br
      分享优惠券并赚取收益！零花钱不断的生活到来啦！
