.wrapper1200{style: "margin: 20px auto 10px auto;"}
  .item-list-top
    %span.left 京东实用工具
    %span.left{style: "color:#999;margin-left:10px;font-size:16px;"} 那些一直存在，但您可能没注意到的神奇所在
  %a{href: "/jddiybuy/?jd_channel=15&url=#{URI.encode_www_form_component("https://vip.jd.com/fuli/index.html")}", target: "_blank", onclick: "_hmt.push(['_trackEvent', 'jd tool 1', 'click', 'jd'])", rel: "nofollow"}
    .btn300{style: "height: 65px;overflow:hidden;"}
      PLUS会员福利
      %div{style: "float:left;position:relative;top:-15px;left:5px;width:0;"}
        %span.jd-icon.jd-icon-plus
  %a{href: "/jddiybuy/?jd_channel=15&url=#{URI.encode_www_form_component("https://miaosha.jd.com")}", target: "_blank", onclick: "_hmt.push(['_trackEvent', 'jd tool 2', 'click', 'jd'])", rel: "nofollow"}
    .btn300{style: "height: 65px;overflow:hidden;"}
      专属优惠券
      %div{style: "float:left;position:relative;top:-15px;left:5px;width:0;"}
        %span.jd-icon.jd-icon-sheng
  %a{href: "/jddiybuy/?jd_channel=15&url=#{URI.encode_www_form_component("https://search.jd.com/Search?keyword=%E7%A4%BC%E5%93%81%E5%8D%A1")}", target: "_blank", onclick: "_hmt.push(['_trackEvent', 'jd tool 3', 'click', 'jd'])", rel: "nofollow"}
    .btn300{style: "height: 65px;overflow:hidden;"}
      京东礼品卡
      %div{style: "float:left;position:relative;top:-15px;left:5px;width:0;"}
        %span.jd-icon.jd-icon-gift
  %a{href: "/jddiybuy/?jd_channel=15&url=#{URI.encode_www_form_component("https://o.jd.com/market/index.action")}", target: "_blank", onclick: "_hmt.push(['_trackEvent', 'jd tool 4', 'click', 'jd'])", rel: "nofollow"}
    .btn300{style: "height: 65px;overflow:hidden;"}
      许愿拿券
      %div{style: "float:left;position:relative;top:-15px;left:5px;width:0;"}
        %span.jd-icon.jd-icon-wish
