%a{href: "https://union-click.jd.com/jdc?e=&p=AyIGZRprFDJWWA1FBCVbV0IUWVALHEIYDk5ER1xOGWVFM0FUemFdHD4RQmlEBmApbHxIeCN7VxkyEgNQGlsVMhACUB9dFAcbAGUrWxYyWWlUK1kUAxMBVhpSFwQiB1ESXBwEFgRQE1sUAyIAVRJrYnFwcypuL3YyIjdWK2slAyIHZUQfSF8iBVQaXxw%3D", target: "_blank", title: "点击直达京东领券中心", onclick: "_hmt.push(['_trackEvent', '领券中心Banner', 'click', 'jd'])"}
  .wrapper1200{style: "height: 60px;margin: 10px auto;background:url(http://static.360buyimg.com/mtd/pc/seckill/6.0.0/index/images/header_bgV2.png);"}
    %div{style: "padding: 0 300px;"}
      %img{src: "/img/click_gif_1.gif", height: "80px", width: "100px;", style: "float:left;"}
      %img{src: "/img/lingquanzhongxin.png", height: "30px", width: "", style: "float:left;padding:15px 20px;"}
      %img{src: "/img/click_gif_1.gif", height: "80px", width: "100px;", style: "float:left;"}
