<div class="more-coupon" style="margin: 10px auto;width:1100px;">
  <a href="/jddiybuy/?jd_channel=15&url=https%3A%2F%2Fa.jd.com%2F" target="_blank">
  <span class="btn" style="float:left;margin-left:260px;" onclick='_hmt.push(["_trackEvent", "优惠券 去京东", "click", "jd"])'>
    去京东查券
  </span>
  </a>
  <span id="changeCoupon" class="btn" style="float:right;margin-right:260px;" onclick='_hmt.push(["_trackEvent", "优惠券 换一换", "click", "jd"])'>换一换</span>
</div>
<script type="text/javascript">
var jdCouponList = $('#jdCouponList');
var jdCouponResult = [];
var jd_item_id = <%= @jd_item_id %>;
$("#changeCoupon").click(function(){
  jdCouponList.html("");
  show_jdcoupon();
});
function getJdCoupon(){
  $.ajax({
    url: 'https://api.uuhaodian.com/jduu/jd_home_coupons',
    type: 'GET',
    dataType: 'jsonp',
    data:{
      'id': jd_item_id,
      'page': 0,
      'callback': 'callback_jdcoupon'
    },
    success:function(data){
    }
  });
}
var canvas_callback = function(data){
  if(data.status == 1){
    var cv = $("#cv" + data.id);
    cv.qrcode({
      render: "canvas",
      height: 104,
      width: 104,
      text: data.url
    });
  }
}
var show_jdcoupon = function(){
  var rsize = jdCouponResult.length - 1;
  var coupon_sample = []
  var coupon_sample_index = []
  if(jdCouponResult.length <= 6){
    coupon_sample = jdCouponResult;
  }
  else{
    while(coupon_sample_index.length < 6 ){
      var rnd = Math.floor((Math.random() * rsize));
      if(!coupon_sample_index.includes(rnd)){
        coupon_sample_index.push(rnd);
        coupon_sample.push(jdCouponResult[rnd]);
      }
    }
  }
  Util.createJdCoupon(coupon_sample,jdCouponList,0,'');
  $(".jd-coupon").hover(function(){
    var cv = $("#cv" + $(this).data("id"));
    if(cv.html() == ""){
      $.ajax({
        url: $(this).data("url"),
        type: 'GET',
        dataType: 'jsonp',
        data:{
          'callback': 'canvas_callback'
        },
        success:function(data){
        }
      });
    }
    $("#c" + $(this).data("id")).animate({right:'104px'});
  },
  function(){
    $("#c" + $(this).data("id")).animate({right: 0});
  });
}
var callback_jdcoupon = function(data){
  if(data.status == 1){
    jdCouponResult = data.result;
    show_jdcoupon();
  }
};
//$(function(){

  $.cookie('ff_platform', 2, {path:"/"});
  getJdCoupon();

  /*$(document).on('scroll',function(){
    if(page%4 > 0){
      var _top = $(document).scrollTop(),
        scroll_height = Util.pageSize()['scrollHeight'],
        client_height = Util.pageSize()['clientHeight'];
        if(_top + client_height >= (scroll_height-800)){
          getJdCoupon();
        }
    }
  });

  loadingText.on('click',function(){
    getJdCoupon();
  });*/

//});
</script>
