.jd-tool-area-right{style: "display:none;"}
  %a{href: "/jddiybuy/?jd_channel=15&url=#{URI.encode_www_form_component("https://vip.jd.com/fuli/index.html")}", target: "_blank", onclick: "_hmt.push(['_trackEvent', 'jd tool right', 'click', 'jd'])", title: "PLUS会员福利", rel: "nofollow"}
    %span.jd-icon.jd-icon-plus{style: "opacity: 0.6;"}
  %a{href: "/jddiybuy/?jd_channel=15&url=#{URI.encode_www_form_component("https://search.jd.com/Search?keyword=%E7%A4%BC%E5%93%81%E5%8D%A1")}", target: "_blank", onclick: "_hmt.push(['_trackEvent', 'jd tool 3', 'click', 'jd'])", title: "京东礼品卡", rel: "nofollow"}
    %span.jd-icon.jd-icon-gift{style: "opacity: 0.6;"}
  %a{href: "/jddiybuy/?jd_channel=15&url=#{URI.encode_www_form_component("https://a.jd.com/wish/wish.html?source=1")}", target: "_blank", onclick: "_hmt.push(['_trackEvent', 'jd tool 4', 'click', 'jd'])", title: "许愿拿券", rel: "nofollow"}
    %span.jd-icon.jd-icon-wish{style: "opacity: 0.6;"}
  %a{href: "/jddiybuy/?jd_channel=15&url=#{URI.encode_www_form_component("https://a.jd.com/specials.html")}", target: "_blank", onclick: "_hmt.push(['_trackEvent', 'jd tool 2', 'click', 'jd'])", title: "专属优惠券", rel: "nofollow"}
    %span.jd-icon.jd-icon-sheng{style: "opacity: 0.6;"}

