.jd-mengceng
  .jd-mengceng-bottom
  %a{href: "https://union-click.jd.com/jdc?e=&p=AyIGZRprFDJWWA1FBCVbV0IUWVALHEIYDk5ER1xOGWVzWk5eRFwzYzlUBWpsPkwaEkNWQzdrVxkyEAZUGlIVAhIBXCtZEAcWAVQeUhIyIgdUKxB7AyIFVBpaHAITAF0caxUGGwFRGVMdBRoDURJrEgIbNyJoOWF9Z3M2K2slASI3ZRprFTJNQwhGaxcDEwNc", target: "_blank", onclick: '_hmt.push(["_trackEvent", "直达领券中心蒙层", "click", "jd"])'}
    .jd-mengceng-up
      .center-area
        %img{src: "http://www.uuhaodian.com/img/jd_logo.png"}
        %div 前往京东领券中心
        %p.close#jd_mengceng_close 关闭
