%a{href: "https://union-click.jd.com/jdc?e=&p=AyIGZRprFDJWWA1FBCVbV0IUWVALHEBZEVoFSh1OGA5OREdcThkHTwRQVlEZA08eZ1xWRgtEKUFdV1MWBAtHR0pZCissFgZkbCJZDXBwTmUlWx1iRHUEEnkrGQ4iB1EeWhUCIgVQHl8TAxcOUitrFQEiTDsaaxcDEwZTE14WABc3VR9SEwAVBFYdXRECGzdSG1IldWFlIWQuYWEiN2UYayUyEzdVKwRRX083VxpaEQs%3D", target: "_blank", onclick: "_hmt.push(['_trackEvent', '底部领券中心', 'click', 'dazhe_jd'])"}
  .footer{style: "background-color:#000;"}
    %div{style: "width: 15%;float:left;text-align:center;"}
      %img{src: "http://st.360buyimg.com/common/commonH_B/images/2015/top-jdlogo.png", height: "46px;", style:"padding: 5px;margin: 0 auto;"}
    %div{style: "float:left;width:60%;"}
      %p{style: "text-align:center;font-size:16px;line-height: 56px;color:#fff;font-weight:bold;"} 京东领券中心
    %div{style: "float:right;width:25%;background-color:#F63515;"}
      %p{style: "text-align:center;font-size:16px;line-height: 56px;color:#fff;font-weight:bold;"} 点击前往
