.jd-mengceng
  .jd-mengceng-bottom
  %a{href: "https://u.jd.com/txT93f", target: "_blank", onclick: '_hmt.push(["_trackEvent", "直达领券中心蒙层", "click", "jd"])'}
    .jd-mengceng-up
      .center-area
        %img{src: "http://www.uuhaodian.com/img/jd_logo.png"}
        %div 前往418秒杀节主会场
        %p.close#jd_mengceng_close 关闭
