.jd-mengceng
  .jd-mengceng-bottom
  %a{href: "#{url}", target: "_blank", onclick: '_hmt.push(["_trackEvent", "直达领券中心蒙层", "click", "jd"])'}
    .jd-mengceng-up
      .center-area
        %img{src: "http://www.uuhaodian.com/img/jd_logo.png"}
        %p.text-area #{text}
        %p.close#jd_mengceng_close 关闭
