.jd-tool-area-right{style: "display:none;"}
  %a{href: "https://union-click.jd.com/jdc?e=&p=AyIGZRprFDJWWA1FBCVbV0IUWVALHFVfFAQAQB1AWQkFDFFfShkNRA5BSw1eEEcGG1BWCxBYH0EyV0UUfSxNQGhlKEteQBxpXCdBDV5lRAtZK1kUAxMOVRtbEwsiBVAeXxMDFw5SK2sVAyJMOxprFwMTBlwbWxULEjdVH1ITBhcGVB1dEwIbN1IbUiV1YWUhZC5hYSI3ZRhrJTITN1UrBFFfTzdXGloRCw%3D%3D", target: "_blank", onclick: "_hmt.push(['_trackEvent', 'jd tool right', 'click', 'jd'])", title: "PLUS会员福利", rel: "nofollow"}
    %span.jd-icon.jd-icon-plus{style: "opacity: 0.6;"}
  %a{href: "https://union-click.jd.com/jdc?e=&p=AyIGZRprFDJWWA1FBCVbV0IUWVALHFNEC04PUh1JUkpJBUkcTlcIRkVFUFdfEk9FEH5tUx57JlRhe31dSC1Tdhd6MXsiY3h3fBBIHwtaTVIBUkRMR05aW0kfGUdRQwErGFEGRAIdRAh3SkpDK3k%2BUwV5AipgKxkOIgVUGlocAhIHUxJrFwcXA1MaXhwFIjdVGmtebBM3VxpaFAsSB1USWyUCFg5TH14UAhQHUBxdJQUSDmVsKHd2bXIheGslMhE3ZStaJQIiWBFGBiUAEwZREg%3D%3D", target: "_blank", onclick: "_hmt.push(['_trackEvent', 'jd tool 3', 'click', 'jd'])", title: "京东礼品卡", rel: "nofollow"}
    %span.jd-icon.jd-icon-gift{style: "opacity: 0.6;"}
  %a{href: "https://union-click.jd.com/jdc?e=&p=AyIGZRprFDJWWA1FBCVbV0IUWVALHEIYDk5ER1xOGRNDGUwcVF8XQkRMR05aW0kfGUdRQwErLX5DUkUGZQ92UUpnC1k8aGJiYlNdHRkOIgVUGlocAhIHUxJrFwcXA1MaXhwFIjdVGmtebBM3VxpaFAsSB1USWyUCFg5TH14UARAFVBJeJQUSDmVsKHd2bXIheGslMhE3ZStaJQIiWBFGBiUAEwZREg%3D%3D", target: "_blank", onclick: "_hmt.push(['_trackEvent', 'jd tool 4', 'click', 'jd'])", title: "许愿拿券", rel: "nofollow"}
    %span.jd-icon.jd-icon-wish{style: "opacity: 0.6;"}
  %a{href: "https://union-click.jd.com/jdc?e=&p=AyIGZRprFDJWWA1FBCVbV0IUWVALHEIYDk5ER1xOGRdaD0daQloXBAJQXk8JB19XUEFWU2VfRU1qZ1VRTzhjYAwELHMvDwRnVAp7VxkyEAZUGlIVAhIBXCtZEAcWAVQeUhIyIgdUKxB7AyIFVBpaHAISB1wbaxUGGwFRHloVARYHUxtrEgIbNyJoOWF9Z3M2K2slASI3ZRprFTJNQwhGaxcDEwNc", target: "_blank", onclick: "_hmt.push(['_trackEvent', 'jd tool 2', 'click', 'jd'])", title: "专属优惠券", rel: "nofollow"}
    %span.jd-icon.jd-icon-sheng{style: "opacity: 0.6;"}

