.zk-item
  %a{href: "#"}
    .img-area
      .bottom-info
        %p.time-count
      %img.lazy{src: "http://oss1.lanlanlife.com/175239c8cbc76fa96d8b6e40e0c1e214_800x800.jpg@!1-500-80-jpg"}
    %p.title-area.elli
      %i.i_tmall
      %span.post-free 包邮
      真真老老 嘉兴肉粽5荤1素600g
    .raw-price-area
      现价：¥24.90
      .sold 已领24698张券
    .info
      .price-area
        %span.price
          ¥
          %em.number-font 14
          %em.decimal .90
          %i
      .coupon_click 券 10 元
