.order-area
  %ul.sort-type
    %li{id: "li-sort-7", data: {sort: "7"}, class: "sort_li active"} 综合
    %li{id: "li-sort-1", data: {sort: "1"}, class: "sort_li"} 上新
    %li{id: "li-sort-4", data: {sort: "4"}, class: "sort_li"} 销量
    %li{id: "li-sort-3", data: {sort: "3"}, class: "sort_li"} 价格
