<div style="width:210px;margin: 0 10px 0 10px;">
  <a data-type="5" data-tmpl="210x30" data-tmplid="136" data-style="2" data-border="1" href="#">淘宝充值</a>
  <p style="padding:10px;border-bottom:1px dotted #cfcfcf;margin-bottom:10px;">手机充值，享折扣</p>
</div>
