- title("关于我们_优优好店")
- keywords("优优好店")
- head_desc("优优好店-优惠券折扣，先领券再下单，省钱又实惠！每天更新千款，纯人工筛选验货，限时限量特卖！")
- path("/about.html")
- mobile_url("https://www.uuhaodian.com/about.html")

= render partial: "header_common"

.wrapper{style: "min-height: 500px;"}
  %nav{style: "margin: 10px 0;"}
    %a{href: "/"} 优优好店
    &nbsp;>&nbsp;
    %a{href: "/about.html"} 关于我们
  %div{style: "background-color: #fff;padding: 10px;"}
    %h2{style: "padding: 0 10px;"} 公司简介
    %p{style: "padding: 10px;"} 
      北京弗格朗瑞科技有限公司成立于2017年12月，开发并运营社会化电商导购产品，优优好店隶属于北京弗格朗瑞科技有限公司，专注于购物优惠折扣，深受广大用户的喜爱。
    %h2{style: "padding: 0 10px;"} 关于优优好店
    %p{style: "padding: 10px;"} 
      优优好店宗旨是方便网友们快速找到物美价廉的商品，我们不仅为您展示各个电商平台上物超所值的商品，同时也积极与各个平台卖家沟通合作，为网友们提供更多优质的折扣商品。 网站的优惠折扣商品信息，每天更新。
      %br
      本站所有的商品信息都来源于淘宝网、京东、苏宁易购等优质电商平台，网友点击商品链接会跳转进入这些电商平台，所有交易均有效可靠，请放心使用本网站。
      %br
    %h2{style: "padding: 0 10px;"} 联系我们
    %p{style: "padding: 10px;"}
      公司全称：北京弗格朗瑞科技有限公司
      电话：010-86202725
      如果您对我们的网站以及服务有任何疑问、意见或建议，请随时与我们在线客服取得联系！我们的客服人员会给您详尽细致的解答，您的意见或建议将立即得到反馈。


= render partial: "footer"
