- title("OLAY防晒小白伞价格监控_UU数据观察_优优好店")
- keywords("OLAY防晒小白伞")
- head_desc("优优好店-OLAY防晒小白伞商品价格监控。")

.dazhe{style: "margin-top:0;"}
  %img{src: "https://img.alicdn.com/i1/2642000333/O1CN01o89ie71EKYSINs5TD_!!2642000333.jpg",width: "100%"}
  %p{style: "font-size: 18px;font-weight:bold;padding: 10px;background-color:#fff;margin-top:1px;text-align:center;"} OLAY防晒乳零重力小白伞 30ml

  %a{href: "/jd/buy/100004379380/", target: "_blank"}
    %div{style: "margin-top: 5px;background-color: #fff;"}
      %p{style: "padding: 10px"}
        %span{style: "font-size: 16px;color:#e4393c;"} OLAY京东自营旗舰店
      %p{style: "padding: 10px;line-height:20px;"}
        %span 单件到手价
        %span{style: "color:#e4393c;font-size:20px;"} ￥225
        %span{style: "float:right"} 月销2.3万
      %p{style: "padding: 10px;line-height: 20px;"}
        活动：
        %span{style: "color: #e4393c;border: 1px solid #e4393c;font-size: 12px;padding: 2px 10px;margin-right:5px;"} PLUS会员95折 
        %span{style: "color: #e4393c;border: 1px solid #e4393c;font-size: 12px;padding: 2px 10px;margin-right:5px;"} 满499减80
        %span{style: "color: #e4393c;border: 1px solid #e4393c;font-size: 12px;padding: 2px 10px;margin-right:5px;"} 满2件88折 
  %a{href: "https://api.uuhaodian.com/uu/buy?id=587778512054", target: "_blank"}
    %div{style: "margin-top: 5px;background-color: #fff;"}
      %p{style: "padding: 10px"}
        %span{style: "font-size: 16px;color:#e4393c;"} OLAY天猫官方旗舰店
      %p{style: "padding: 10px;line-height:20px;"}
        %span 单件到手价
        %span{style: "color:#e4393c;font-size:20px;"} ￥249
        %span{style: "float:right"} 月销1.2万
      %p{style: "padding: 10px;line-height: 20px;"}
        活动：无
  %a{href: "https://api.uuhaodian.com/uu/buy?id=590602072531", target: "_blank"}
    %div{style: "margin-top: 5px;background-color: #fff;"}
      %p{style: "padding: 10px"}
        %span{style: "font-size: 16px;color:#e4393c;"} 天猫万宁官方旗舰店
      %p{style: "padding: 10px;line-height:20px;"}
        %span 单件到手价
        %span{style: "color:#e4393c;font-size:20px;"} ￥239
        %span{style: "float:right"} 月销341件
      %p{style: "padding: 10px;line-height: 20px;"}
        活动：
        %span{style: "color: #e4393c;border: 1px solid #e4393c;font-size: 12px;padding: 2px 10px;margin-right:5px;"} 10元优惠券
  %a{href: "https://api.uuhaodian.com/uu/buy?id=606307787743", target: "_blank"}
    %div{style: "margin-top: 5px;background-color: #fff;"}
      %p{style: "padding: 10px"}
        %span{style: "font-size: 16px;color:#e4393c;"} 天猫万宁官方海外旗舰店
      %p{style: "padding: 10px;line-height:20px;"}
        %span 单件到手价
        %span{style: "color:#e4393c;font-size:20px;"} ￥198.2 + 18.95税费
        %span{style: "float:right"} 月销110件
      %p{style: "padding: 10px;line-height: 20px;"}
        活动：
        %span{style: "color: #e4393c;border: 1px solid #e4393c;font-size: 12px;padding: 2px 10px;margin-right:5px;"} 10元优惠券
