- title("京东优惠券,京东优惠券大全,京东优惠券领取与查询-优优好店")
- keywords("优优好店,京东优惠券,京东券,jd券,jd优惠券,东券,京券,京东优惠券领取,京东优惠券领取平台,大额京东优惠券,京东优惠券查询助手,京东优惠券大全")
- head_desc("优优好店——京东优惠券免费领取平台。每日更新海量京东商城优惠券，覆盖的品类已包含：手机、电视、笔记本、平板电脑、显示器、空调、电扇、冰箱、热水器、路由器等等，您可以方便的查询并领取京券和东券。精确找jd券：请直接搜索京东商品的标题或链接，即可找到商品对应的优惠券，领券后下单，可以立减相应金额，5元、10元、50元、100元、500元的券都可能有。优优好店，您可靠的省钱领券小助手，快加入收藏吧！")
- path("")
- mobile_url("http://wap.uuhaodian.com")

%iframe#doc{src: "http://uuhaodian.com", frameborder: "0", width: "100%", marginheight: "0",height: "500px;"}
:javascript
  var h = window.innerHeight;$("#doc").height(h);

%footer.footer
  .footer-bottom
    .wrapper
      %p 
        © CopyRight 2021 优优好店  http://www.uuhaodian.com   
        %a{href: "https://beian.miit.gov.cn", target: "_blank", style:"color:#ff6a00;", rel: "nofollow"}京ICP备18009981号-1 
        %a{href: "/about.html", rel: "nofollow"}关于我们
        ：北京弗格朗瑞科技有限公司 联系我们：010-86202725
