<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-96984648-10"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-96984648-10');
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?2b2657d3ccdf37a08ccc8ba9b20bf9fa";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</div>
<script type="text/javascript">
(function(win,doc){
  var s = doc.createElement("script"), h = doc.getElementsByTagName("head")[0];
  if (!win.alimamatk_show) {
    s.charset = "gbk";
    s.async = true;
    s.src = "https://alimama.alicdn.com/tkapi.js";
    h.insertBefore(s, h.firstChild);
  };
  var o = {
    pid: "mm_32854514_43320855_1298306595",/*推广单元ID，用于区分不同的推广渠道*/
    appkey: "",/*通过TOP平台申请的appkey，设置后引导成交会关联appkey*/
    unid: "",/*自定义统计字段*/
    type: "click" /* click 组件的入口标志 （使用click组件必设）*/
  };
  win.alimamatk_onload = win.alimamatk_onload || [];
  win.alimamatk_onload.push(o);
})(window,document);
</script>

